<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/article">Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile">profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/admin">Admin</a>
    </li>
</ul>